/* You can add global styles to this file, and also import other style files */
body {
  background: #eef0f8;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 300px;
}
